:root {
    --blue: #445886;
    --light-blue: #dee8ff;
}

@font-face {
    font-family: "ScotchDisplayCond";
    src: url(../font/scotch-display/Scotch-TextBoldFraction.otf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/font-montserrat/Montserrat-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dee8ff;
    position: relative;
}

#main-content {
    padding-top: 3.125rem;
    padding-left: 3.125rem;
}

nav {
    font-size: 1.1875rem;
    margin-right: 0;
    width: 100%;
    padding-right: 8.4375rem;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
    margin-left: 1.25rem;
}

.text-align-content {
    text-align: start;
}

.font-Scotch {
    font-family: "ScotchDisplayCond";
}

.font-Montserrat {
    font-family: "Montserrat";
}

.font-size-s {
    font-size: 0.8125rem;
}

.font-size-m {
    font-size: 1.25rem;
}

.font-size-l {
    font-size: 4.6875rem;
}

.font-size-xl {
    font-size: 6.25rem;
}

.color-light-blue {
    color: var(--light-blue);
}

.color-blue {
    color: var(--blue);
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
}

.justify-between {
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding-top: 2.5rem;
    margin-left: 3.125rem;
    position: relative;
}

nav li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    bottom: 2.1875rem;
    left: 0;
    background-color: var(--blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section div div {
    margin-top: 1.875rem;
    padding-left: 1.25rem;
}

.btn-menu {
    border: none;
    background-color: inherit;
    right: 1.25rem;
    top: 2.1875rem;
    z-index: 5;
    display: none;
}

.btn-menu img {
    width: 2.1875rem;
}

.logo {
    margin-left: 80px;
    padding: 1.875rem;
    width: 10.625rem;
}

.line-body {
    padding-bottom: 7.5rem;
    margin-left: 5.125rem;
    margin-right: 5.125rem;
}

.border-top {
    border-top: 0.1875rem solid var(--blue);
}
.border-right {
    border-right: 0.1875rem solid var(--blue);
}

.border-left {
    border-left: 0.1875rem solid var(--blue);
}

.border-bottom {
    border-bottom: 0.1875rem solid var(--blue);
}

.img-ca-chien {
    bottom: 14.375rem;
    right: 7.5rem;
    width: 25rem;
}

.img-mon-bo {
    bottom: 12.5rem;
    right: 31.875rem;
    width: 16.875rem;
}

.img-mon-com {
    bottom: -1.375rem;
    right: 13.125rem;
    width: 32.1875rem;
}

.img-wavy {
    position: relative;
}

.img-wavy img {
    top: -9.5rem;
    right: -5.375rem;
    width: 5.125rem;
    background-color: var(--light-blue);
}

.img-wavy-left {
    bottom: -1.375rem;
    left: 0;
    width: 5.125rem;
}

.border-corner {
    bottom: -1.375rem;
    right: 5.0625rem;
    height: 8.125rem;
    padding-left: 0;
}

.btn-reserve {
    background-color: var(--blue);
    border: none;
    width: 8.75rem;
    height: 2.1875rem;
    margin-left: 1.25rem;
}

.btn-reserve:hover{
    background-color: #3998FE;
}

.background-img {
    background-image: url("../image/Design.png");
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (max-width: 1250px) {
    .img-mon-bo {
        display: none;
    }

}

@media screen and (max-width: 1100px) {
    .border-corner {
        display: none;
    }
    .img-ca-chien {
        width: 17.5rem;
        top: 11.25rem;
    }
    .img-mon-com {
        right: 0;
    }
}

@media screen and (max-width: 988px) {
    nav li:after {
        display: none;
    }
    .btn-menu,
    .line-header {
        display: block;
    }

    .logo {
        border: none;
        margin-left: 0;
    }

    li:hover {
        background-color: white;
    }

    nav,
    .menu {
        flex-direction: column;
        display: block;
        padding-right: 0;
    }

    .menu, 
    .img-ca-chien {
        display: none;
    }

    nav {
        text-align: center;
        width: 100%;
        padding-right: 0;
    }

    nav li {
        margin-left: 0;
        padding: 1.25rem;
        border-top: 0.1875rem solid var(--blue);
    }

    .img-wavy img {
        top: -3.125rem;
    }

}


@media screen and (max-width: 870px) {
    .img-mon-com {
        width: 28.125rem;
    }

    .font-size-l {
        font-size: 3.125rem;

    }

    .font-size-s {
        font-size: 0.75rem;

    }

    .background-img {
        background-image: url("../image/Design-2.png");
    }
}

@media screen and (max-width: 717px) {
    .img-mon-com {
        width: 18.75rem;
    }

}

@media screen and (max-width: 620px) {
    .line-body {
        border: none;
        margin-left: 0;
        margin-right: 0;
    }

    .img-wavy-left {
        display: none;
    }
    #main-content {
        padding-left: 0;
    }

}

@media screen and (max-width: 440px) {
    
    .logo {
        margin-left: 0;
        margin-right: 9.375rem;
        padding-left: 0.625rem;
    }
    
    .text-align-content {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    #main-content {
        padding-top: 1.25rem;
    }
    .img-mon-com {
        bottom: -2.8125rem;
    }
    .btn-reserve {
        display: block;
        margin: auto;
    }

    #main-content .text-align-content {
        padding-left: 0;
    }
}

@media screen and (max-width: 330px) {
    .font-size-l {
        font-size: 2.9375rem;
    }

    .font-size-s {
        font-size: 0.6875rem;
    }
}